@font-face {
  font-family: 'iconfont'; /* project id 2039063 */
  src: url('//at.alicdn.com/t/font_2039063_bt4v0a70vcr.eot');
  src: url('//at.alicdn.com/t/font_2039063_bt4v0a70vcr.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2039063_bt4v0a70vcr.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2039063_bt4v0a70vcr.woff') format('woff'),
    url('//at.alicdn.com/t/font_2039063_bt4v0a70vcr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2039063_bt4v0a70vcr.svg#iconfont') format('svg');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
