@font-face {
  font-family: "iconfont"; /* project id 2039063 */
  src: url("//at.alicdn.com/t/font_2039063_5um71m07jod.eot");
  src: url("//at.alicdn.com/t/font_2039063_5um71m07jod.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_2039063_5um71m07jod.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_2039063_5um71m07jod.woff") format("woff"),
    url("//at.alicdn.com/t/font_2039063_5um71m07jod.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_2039063_5um71m07jod.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
